#### Python Crash Course
This notebook will just go through the basic topics in order:

- Print Statements
- Data types
    - Numbers
    - Strings
    - Lists
    - Dictionaries
    - Booleans
    - Tuples
    - Sets
- Comparison Operators
- if,elif, else Statements
- for Loops
- while Loops
- range()
- list comprehension
- functions
- lambda expressions
- map and filter
- methods

In [2]:
# Let's learn about the print statements
print("Let's learn about the print statements!")

Let's learn about the print statements!

In [4]:
# Let's create two variables
x = 'Sneha'
y = 18
print(x)
print(y)

Sneha
18

In [7]:
# Let's print the statement with string formatting
print(f"{x} is {y} years old.")

Sneha is 18 years old.

In [8]:
# Using format method
print("{} is {} years old." .format(x,y))

Sneha is 18 years old.

In [13]:
# Using concatenation method
print(x + ' is '+ str(y) + ' years old.')

Sneha is 18 years old.

In [14]:
# Using older % string formatting method
print("%s is %d years old." %(x,y))

Sneha is 18 years old.

In [15]:
x

'Sneha'

In [16]:
y

18

**Data Types** 
- Numbers

In [20]:
# Working with numbers
a = 10
b = 100
print(f"The addition of a and b is {a+b}.")
print(f"The subtraction of b from a is {b-a}.")
print(f"The multiplication between a and b is {a*b}.")
print(f"The division between a and b is {b/a}.")
print(f"The reminder is {b%a}.")

The addition of a and b is 110.
The subtraction of b from a is 90.
The multiplication between a and b is 1000.
The division between a and b is 10.0.
The reminder is 0.

2.1 String

In [21]:
single_quoted_string = 'Python is Awesome!!'
print(single_quoted_string)

Python is Awesome!!

In [22]:
Double_Quoted_String = "I'm learning python!!"
print(Double_Quoted_String)

I'm learning python!!

In [25]:
# String concatenation 
string_contatenation = single_quoted_string + ' ' + Double_Quoted_String
print("Concatenated String is:", string_contatenation)

Concatenated String is: Python is Awesome!! I'm learning python!!

In [28]:
# String methods
uppercase_string = string_contatenation.upper()
print(uppercase_string)
lowercase_string = string_contatenation.lower()
print(lowercase_string)

PYTHON IS AWESOME!! I'M LEARNING PYTHON!!
python is awesome!! i'm learning python!!

In [30]:
# String slicing examples
word = 'ISMT-College'
slice_word = word[5:9]
print("Slice Word is:", slice_word)

Slice Word is: Coll

In [32]:
# Remove the leading and trailing spaces
word_with_space = "   University of Sundarland   "
print(word_with_space)
remove_space = word_with_space.strip()
print(remove_space)

   University of Sundarland
University of Sundarland

2.3 List

In [33]:
# Create a list
fav_movie = ["3 Idiots", "Loki", "Tare Jamin Par", "Forest Gump", "Money Heist"]
print(fav_movie)

['3 Idiots', 'Loki', 'Tare Jamin Par', 'Forest Gump', 'Money Heist']

In [38]:
# Accessing the element of list
print("Rojit fav movie is:", fav_movie[0])
print("Bishes fav movie is:", fav_movie[1])
print("Aakriti fav movie is:", fav_movie[2])
print("Suraj fav movie is:", fav_movie[3])
print("Siddhant fav movie is:", fav_movie[4])

Rojit fav movie is: 3 Idiots
Bishes fav movie is: Loki
Aakriti fav movie is: Tare Jamin Par
Suraj fav movie is: Forest Gump
Siddhant fav movie is: Money Heist

In [39]:
print("The length of list is:", len(fav_movie))

The length of list is: 5

In [40]:
# Working with dictionary 
student = {
    "name": "Siddhant",
    "Department": "Computer Engineering",
    "CGPA": 3.8
}
print(student)

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.8}

In [41]:
# Accessing the dictionary items
print("Name of student:", student["name"])

Name of student: Siddhant

In [42]:
# Adding a new element in dictionary
student["Year"] = 2019
print(student)

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.8, 'Year': 2019}

In [43]:
# Modifying an item if it exists
student["CGPA"] = 3.9
print(repr(student))

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.9, 'Year': 2019}

In [44]:
# Delete an item from dictionary if it exist
if "Year" in student:
    del student["Year"]
print(student)

{'name': 'Siddhant', 'Department': 'Computer Engineering', 'CGPA': 3.9}

In [45]:
# Working with Tuple
fav_movie = ("3 Idiots", "Loki", "Tare Jamin Par", "Forest Gump", "Money Heist")
print(fav_movie)

('3 Idiots', 'Loki', 'Tare Jamin Par', 'Forest Gump', 'Money Heist')

In [46]:
# Accessing the fav movie
print("Rojit fav movie is:", fav_movie[0])
print("Bishes fav movie is:", fav_movie[1])

Rojit fav movie is: 3 Idiots
Bishes fav movie is: Loki

In [47]:
# Conditional Statements:
# Finding the greates number among three
a = 10
b = 30
c = 50

if a > b and a > c:
    print(f"{a} is greatest number.")
elif b > a and b > c:
    print(f"{b} is greatest number.")
else:
    print(f"{c} is greatest number.")

50 is greatest number.

In [57]:
# Leap Year
year = 2024

if (year%4==0 and year%100!=0) or (year%400==0):
    print("Leap Year")
else:
    print("Not a leap year.")

Leap Year

In [58]:
# Loop 
multiple_of_10 = [10, 20, 30, 40, 50]

print("Multiple of Five:")
for num in multiple_of_10:
    print(num)

Multiple of Five:
10
20
30
40
50

In [59]:
# Let's work with string
string = "Hello I am Learning python."

for char in string:
    print(char)

H
e
l
l
o

I

a
m

L
e
a
r
n
i
n
g

p
y
t
h
o
n
.

In [63]:
# Let's use range
for i in range(10,1,-2):
    print(i)

10
8
6
4
2